.timer{
   text-align: center;


    
}
.number-timer{
    font-size: 4em;
    
}
.text-inner-timer{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    
}
.item{
    margin-left: 10px;

}
.btn{
    margin-right: 10px;
    width: 80px;
}